body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 5px 5px;
  /* box-shadow: inset; */
  width: 100%;
  height: 80px;
  
}


/* remove table bootstrap class -- overriding the changes im making */

table {
  width: 100%;
  margin-bottom: 16px;
  color: black;
}

table thead {
  border-top: 2px solid lightgray; 
}
table
  th, table
  td {
    padding: 0px; 
    vertical-align: top;
  }

table th {

  border-top: none; 
}
table td {
  border-bottom: 2px solid white; 
}

thead th {
   vertical-align: bottom;
  /* border-bottom: 2px solid white; */
 }

table tbody + table tbody {
  border-bottom: 2px solid white;
}



.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  /* border-top: 2px solid white; */
}

.hour {
  background-color: #ffffff;
  color: #000000;
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
  border-bottom-color:lightgray ;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.event {
 padding: 0px;
 /* border-top-color:lightgray ; */
}



